#### Reference: Mario Dobler and Tim Gromann (2019): “Data Visualization with Python: Create an impact with meaningful data insights using interactive and engaging visuals”, Packt Publishing

## Example 03: Restaurant performance

In this activity, we will use a stacked bar plot to visualize the performance of a restaurant. Let’s look at the following scenario: You are the owner of a restaurant and due to a new law you have to introduce a smoking free day. To make as few losses as possible you want to visualize how much sales are made every day according to smoking and non-smoking people.

In [1]:
# Import statements
import pandas as sb
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# Load dataset
import seaborn as sns 

bills = sns.load_dataset('tips')

In [3]:
bills

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Use the given dataset and create a matrix where the elements contain the sum of the total bills for each day and smoking/non-smoking person.

In [13]:
days = ['Thur', 'Fri', 'Sat', 'Sun'] # x-tick-labels - category
days_range = np.arange(len(days)) # x-coordinate   
smoker = ['Yes', 'No']

# bills['day'] == day is the mask
# filtering to form a list of total_bill, group by the day
bills_by_days = [bills[bills['day'] == day] for day in days]
bills_by_days[2]

     total_bill   tip     sex smoker  day    time  size
19        20.65  3.35    Male     No  Sat  Dinner     3
20        17.92  4.08    Male     No  Sat  Dinner     2
21        20.29  2.75  Female     No  Sat  Dinner     2
22        15.77  2.23  Female     No  Sat  Dinner     2
23        39.42  7.58    Male     No  Sat  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2
242       17.82  1.75    Male     No  Sat  Dinner     2

[87 rows x 7 columns]

In [ ]:
bills_by_days_smoker = [[bills_by_days[day][bills_by_days[day]['smoker'] == s] for s in smoker] for day in days_range]

# bills_by_days_smoker[0][0] # Thur, Smoker

bills_by_days_smoker[2][1] # Sat, Non-Smoker

In [ ]:
total_by_days_smoker = [[bills_by_days_smoker[day][s]['total_bill'].sum() for s in range(len(smoker))] for day in days_range]
# total_by_days_smoker[1] # day: Fri, [Fri-Smoker total_bill, Fri-NonSmoker total_bill]
total_by_days_smoker

In [ ]:
totals = np.asarray(total_by_days_smoker)
totals

Create a stacked bar plot, stacking the summed smoking and non-smoking total bills separated for each day. Add a legend, labels, and a title.

In [ ]:
# Create figure
plt.figure(figsize=(5, 3), dpi=100)
# Create stacked bar plot
plt.bar(days_range, totals[:, 0], label='Smoker')
plt.bar(days_range, totals[:, 1], bottom=totals[:, 0], label='Non-smoker')

# Add legend
plt.legend()

# Add labels and title
plt.xticks(days_range)

ax = plt.gca()
ax.set_xticklabels(days)
ax.yaxis.grid()
plt.ylabel('Daily total sales in $')
plt.title('Restaurant performance')

# Show plot
plt.show()